{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="row container">

        {% for lst in listings %}
            <div class="col">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'display' lst.id%}"> 
                                {{lst.title}} 
                            </a>
                        </h5>
                    <p class="card-text">{{lst}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                

            </div>
        {% endfor %}    
    </div>

{% endblock %}